---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import Badge from '../components/Badge.astro';
---

<Layout title="RENE ORTEGA AGUIRRE">
	<section class="w-full lg:w-[740px] mx-auto py-44">
		<img class="rounded-full h-12 w-12 mb-4" src="/public/photo/rene.jpeg" alt="foto rene"/>
	<main>
<h1 class="text-white text-5xl font-bold flex flex-row gap-x-4 pb-4">Hey, Soy Rene Ortega
	<div class="flex justify-center items-center"> <Badge>Disponible para Trabajar </Badge> </h1></div>
<h2 class="text-white text-2xl opacity-80 text-wrap"> <span>+2 Años de Experiencia.</span>
	<span class="text-fuchsia-950"> Desarrollo de Software con Java y JavaScript. </span> <span>De
	 Durango, Dgo. México,</span> <span>Actualmente me Especializo en Aplicaciones Web.</span>

</h2>
	</main>	
</section>
</Layout>
