---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import Badge from '../components/Badge.astro';
---

<Layout title="RENE ORTEGA AGUIRRE">
	<section class="w-full lg:w-[740px] mx-auto py-10">
	<main>
<h1 class="text-white">Hey, soy Rene Ortega <Badge>Disponible para Trabajar </Badge> </h1>
<h2 class="bg">+2 Años de Experiencia. Desarrollo de Software con Java y JavasCript. De
	 Durango, Dgo. México, Actualemente me Especializo en Aplicaciones Web.

</h2>
	</main>	
</section>
</Layout>
