<header class="flex justify-between items-center p-3 w-[1120px]">
    <img class="rounded-full h-12 w-12" src="/public/photo/rene.jpeg" alt="foto rene">

    <nav class="flex flex-row gap-x-10 font-medium opacity-80 text-[#0DB0F2]">
        <a href="/">Home</a>
        <a href="/about">About</a>
        <a href="/projects">Projects</a>
        <a href="/contact">Contact</a>
    </nav>
</header>